@page "/ZeroTrustAssessHome"

<PageTitle>Zero Trust Assessment</PageTitle>

<h1>Zero Trust Assessment</h1>

<h2 id="introduction">Introduction</h2>
<p>This assessment checks your configuration across the following Microsoft cloud applications and provides recommendations.</p>
<div>
    <FluentAnchor Href="ZeroTrustCollectData" Appearance="Appearance.Accent">
        Start Zero Trust Assessment
        <FluentIcon Name="@FluentIcons.ArrowCircleRight" Color="Color.Lightweight" Slot="end" Size="@Microsoft.Fast.Components.FluentUI.IconSize.Size16" />
    </FluentAnchor>
</div>