@namespace Assessment.Web
<ul>
    <li>
        <FluentAnchor Href="/" Appearance=Appearance.Neutral>Home</FluentAnchor>
    </li>
</ul>
<h2>Assessments</h2>
<ul>
    <li>
        <FluentAnchor Href="ZeroTrustAssessHome" Appearance=Appearance.Neutral>Zero Trust Assessment</FluentAnchor>
    </li>
    <li>
        <FluentAnchor Href="AzureADAssessHome" Appearance=Appearance.Neutral>Azure AD Assessment</FluentAnchor>
    </li>
</ul>